html {
  background: #333;
  height: 100%;
}

body, textarea, input {
  font-family: arial, verdana, helvetica, sans-serif;
  font-size: 10pt;
}

body {
  width: 600px;
  margin: auto;
}

header, #main {
  padding: 10px;
  box-shadow: 10px 10px 5px #222;
  border-radius: 5px;
}

header {
  position: relative;
  margin-top: 5px;
  background: #000;
  color: #fff;
}

#main{
  margin-top: 15px;
  background: #eee;
}

h1 {
  font-family: impact;
  font-weight: normal;
  margin: 0;
}

h2 {
  font-family: georgia, serif;
}

h3 {
  color: #999;
  font-style: italic;
  font-weight: normal;
}

textarea, input, #tweets p {
  background: #fff;
  border: none;
  padding-bottom: 1ex;
  padding: 5px;
  border-radius: 5px;
}

#tweets p {
  box-shadow: 5px 5px 2px #ddd;
}

#tweets p author {
  display: block;
  margin-bottom: 0.5ex;
  font-weight: bold;
}

#tweets a {
  color: #36c;
  text-decoration: none;
}

#tweets a:hover {
  color: #36c;
  text-decoration: underline;
}

nav {
  position: absolute;
  top: 5px;
  right: 10px;
}

nav a {
  color: gold;
  text-decoration: none;
}

#logged-in {
  display: none;
}

form {
  background: #ccf;
  padding: 5px;
  border-radius: 5px;
  text-align: right;
}

#charcount {
  color: #66c;
}

input[type="submit"] {
  margin: 5px;
  border: none;
  background: #66c;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
}

textarea {
  border: solid silver 1px;
  width: 550px;
  display: block;
  margin: 0 auto;
}
