<!DOCTYPE html>
<html>
<head>
  <title>tweetlr : please log in</title>
  <style type="text/css">
    fieldgroup { display: block; margin-bottom: 1ex; }
  </style>
</head>
<body>
  <h1>tweetlr</h1>
  <h2>please log in</h2>
  <form>
    <fieldgroup>
      <label for="username">username:</label>
      <br/>
      <input name="username" type="text" disabled/>
      <br/>
      <label for="password">password:</label>
      <br/>
      <input name="password" type="password" disabled/>
    </fieldgroup>
    <button disabled>submit</button>
  </form>
</body>
</html>
