<!DOCTYPE html>
<html>
<head>
  <title>tweetlr : please log in</title>
  <link rel="stylesheet" href="/styles.css">
  <style type="text/css">
    fieldgroup { display: block; margin-bottom: 1ex; }
    form { text-align: left; }
  </style>
</head>
<body>
  <header>
    <h1>tweetlr</h1>
  </header>
  <div id="main">
    <h2>please log in</h2>
    <form>
      <fieldgroup>
	<label for="username">username:</label>
	<br/>
	<input name="username" type="text" disabled/>
	<br/>
	<label for="password">password:</label>
	<br/>
	<input name="password" type="password" disabled/>
      </fieldgroup>
      <button disabled>submit</button>
    </form>
  </div>
</body>
</html>
